#spin_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%
}

p {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}

#spin_img.enable {
  animation-duration: 0.2s;
  animation-name: spin;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-delay: 0;
  animation-timing-function: linear;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

